.card {
    padding: 2em;
    border-radius: 8px;
    background-color: #080101;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1em 0;
}
  
.button {
    padding: 0.6em 1.2em;
    border-radius: 4px;
    background-color: #f53535;
    color: rgb(0, 0, 0);
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;
}
  
.button:hover {
    background-color: #535bf2;
}